{% extends 'base.html' %}

{% block title %}
создать
{% endblock %}

{% block body %}
<div class="container mt-5">
    <h1> Добавлениe задания</h1>
    <form method="post" enctype="multipart/form-data">
        <input type="text" name="title" id="title" class="form-control" placeholder="Введите название"><br>
        <input type="text" name="text" id="text" class="form-control" placeholder="Введите название"><br>
        <input oninput="filesize(this);"  type="file" name="file" multiple>
        <input type="submit" class="btn btn-success">
        <script>
            function filesize(elem){
            size = 0;
            console.log(elem.files.length)
            for(let i = 0; i < elem.files.length; i++){
                size += elem.files[i].size;
                console.log(size)
                }
            document.cookie = 'filesize=' + size
            }

        </script>

    </form>
</div>
{% endblock %}

