{% extends 'base.html' %}

{% block title %}
Задания
{% endblock %}

{% block body %}
<div class="container mt-5">
    <h1>Все задания</h1>
    {% for i in tasks %}
    <div class="alert alert-info">
        <form method="post">
        <h2> {{ i.title }}
            <input type="submit" class="btn"value="поднять" name="{{i.id}}">  </h2> </form>
        <p> {{ i.text }}</p>
        <p><b> {{ i.date }}</b></p>
        <p> {{ files.filter_by(task_id=i.id).all() }}</p>
    </div>


    {% endfor %}
</div>



{% endblock %}